//- edit.jade
doctype html
html
  include ./includes/head.jade
  body
  form(method='post')
    label 标题:
    br
    input(type='text', name='title', value='#{post.title}', disabled='disabled')
    br
    label 正文:
    br
    textarea(name='post', rows='20', cols='100') 
      | #{post.post}
    br
    input(type='submit', value='保存修改')
    
  include ./includes/foot.jade
